In [1]:
import pandas as pd
pd.Timestamp("4th of July, 2018")

Timestamp('2018-07-04 00:00:00')

In [2]:
pd.Timestamp('2018-07-04 11:23')

Timestamp('2018-07-04 11:23:00')

In [3]:
pd.Timestamp('07/04/2018 11:23:32')

Timestamp('2018-07-04 11:23:32')

In [5]:
t = pd.to_datetime('20180704112332', format='%Y%m%d%H%M%S')
t

Timestamp('2018-07-04 11:23:32')

In [6]:
t.strftime('%A')

'Wednesday'

In [8]:
index1 = pd.DatetimeIndex(['2017-07-04', '2017-07-05', '2018-07-04', '2018-07-05'])
index1

DatetimeIndex(['2017-07-04', '2017-07-05', '2018-07-04', '2018-07-05'], dtype='datetime64[ns]', freq=None)

In [9]:
data = pd.Series([0, 1, 2, 3], index=index1)
data

2017-07-04    0
2017-07-05    1
2018-07-04    2
2018-07-05    3
dtype: int64

In [10]:
data['2017-07-04':'2018-07-04']

2017-07-04    0
2017-07-05    1
2018-07-04    2
dtype: int64

In [11]:
data['2017']

2017-07-04    0
2017-07-05    1
dtype: int64

In [12]:
data['2018-07']

2018-07-04    2
2018-07-05    3
dtype: int64

In [13]:
index2 = pd.to_datetime(['4th of July, 2017', '2017-July-5', '2018/07/04', '2018-07-05'])
index2

DatetimeIndex(['2017-07-04', '2017-07-05', '2018-07-04', '2018-07-05'], dtype='datetime64[ns]', freq=None)

In [14]:
index2[0]

Timestamp('2017-07-04 00:00:00')

In [15]:
pd.Timedelta('2 days 2 hours 15 minutes 30 seconds')

Timedelta('2 days 02:15:30')

In [16]:
pd.Timedelta(6,unit='h')

Timedelta('0 days 06:00:00')

In [17]:
pd.Timedelta(days=1, seconds=20)

Timedelta('1 days 00:00:20')

In [18]:
pd.to_timedelta('1 days 06:05:01.00003')

Timedelta('1 days 06:05:01.000030')

In [19]:
pd.to_timedelta('23us')

Timedelta('0 days 00:00:00.000023')

In [20]:
t1 = pd.Timestamp('2018-07-04')
t2 = pd.Timestamp('2018-08-04')
td = t2-t1
td

Timedelta('31 days 00:00:00')

In [21]:
t1 + td

Timestamp('2018-08-04 00:00:00')

In [22]:
t2 - td

Timestamp('2018-07-04 00:00:00')

In [23]:
t = pd.to_datetime('07/04/2018 11:23:32')
t.to_period('D')

Period('2018-07-04', 'D')

In [24]:
t.to_period('Y')

Period('2018', 'A-DEC')

In [25]:
t.to_period('M')

Period('2018-07', 'M')

In [26]:
index2

DatetimeIndex(['2017-07-04', '2017-07-05', '2018-07-04', '2018-07-05'], dtype='datetime64[ns]', freq=None)

In [27]:
index2.to_period('D')

PeriodIndex(['2017-07-04', '2017-07-05', '2018-07-04', '2018-07-05'], dtype='period[D]', freq='D')

In [28]:
index2.to_period('Y')

PeriodIndex(['2017', '2017', '2018', '2018'], dtype='period[A-DEC]', freq='A-DEC')

In [29]:
index2.to_period('M')

PeriodIndex(['2017-07', '2017-07', '2018-07', '2018-07'], dtype='period[M]', freq='M')

In [30]:
pd.date_range('2018-07-04', '2018-07-10')

DatetimeIndex(['2018-07-04', '2018-07-05', '2018-07-06', '2018-07-07',
               '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range('2018-07-04', periods=8)

DatetimeIndex(['2018-07-04', '2018-07-05', '2018-07-06', '2018-07-07',
               '2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11'],
              dtype='datetime64[ns]', freq='D')

In [32]:
pd.date_range('2018-07-04', periods=8, freq='H')

DatetimeIndex(['2018-07-04 00:00:00', '2018-07-04 01:00:00',
               '2018-07-04 02:00:00', '2018-07-04 03:00:00',
               '2018-07-04 04:00:00', '2018-07-04 05:00:00',
               '2018-07-04 06:00:00', '2018-07-04 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [33]:
pd.timedelta_range(0, periods=10, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [34]:
pd.period_range('2018-07', periods=8, freq='M')

PeriodIndex(['2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01', '2019-02'],
            dtype='period[M]', freq='M')

In [35]:
pd.timedelta_range(0, periods=10, freq='2H30T')

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00',
                '0 days 22:30:00'],
               dtype='timedelta64[ns]', freq='150T')

In [36]:
from pandas_datareader import data

# CBOE(Chicago Board Options Exchange) Volatility Index: VIX (VIXCLS)
vix = data.DataReader("VIXCLS", "fred",start='2016')
vix
# gdpc = data.DataReader('GDPC1', 'fred', start='2000')
# gdpc

            VIXCLS
DATE
2016-01-01     NaN
2016-01-04   20.70
2016-01-05   19.34
2016-01-06   20.59
2016-01-07   24.99
...            ...
2021-10-08   18.77
2021-10-11   20.00
2021-10-12   19.85
2021-10-13   18.64
2021-10-14   16.86

[1510 rows x 1 columns]

In [37]:
vix.resample('BA').mean()

               VIXCLS
DATE
2016-12-30  15.825635
2017-12-29  11.090239
2018-12-31  16.639841
2019-12-31  15.387540
2020-12-31  29.251304
2021-12-31  19.797020

In [38]:
vix.resample('M').mean()

               VIXCLS
DATE
2016-01-31  23.717895
2016-02-29  22.517000
2016-03-31  15.849091
2016-04-30  14.300476
2016-05-31  14.852857
...               ...
2021-06-30  16.956818
2021-07-31  17.603333
2021-08-31  17.472727
2021-09-30  19.824762
2021-10-31  20.007000

[70 rows x 1 columns]

In [39]:
vix.asfreq('BA')

            VIXCLS
DATE
2016-12-30   14.04
2017-12-29   11.04
2018-12-31   25.42
2019-12-31   13.78
2020-12-31   22.75

In [40]:
vix.asfreq('M')

            VIXCLS
DATE
2016-01-31     NaN
2016-02-29   20.55
2016-03-31   13.95
2016-04-30     NaN
2016-05-31   14.19
...            ...
2021-05-31     NaN
2021-06-30   15.83
2021-07-31     NaN
2021-08-31   16.48
2021-09-30   23.14

[69 rows x 1 columns]

In [43]:
import pandas as pd
pd.date_range('05/01/2020', periods=3, freq='3M')

DatetimeIndex(['2020-05-31', '2020-08-31', '2020-11-30'], dtype='datetime64[ns]', freq='3M')

In [44]:
import numpy as np
x = np.array([[1,3], [5,6]])
x

array([[1, 3],
       [5, 6]])

In [45]:
y = [1,2,3]
np.array(y)

array([1, 2, 3])